<section
  class="h-screen bg-primaryColor border-r-2 border-tertiaryColor shadow-md shadow-darkestPrimaryColor flex flex-col items-center outlin relative"
>
  <div
    *ngFor="let contact of allContacts; let i = index"
    class="w-full h-20 border-b-2 border-darkestPrimaryColor border-solid flex p-4 cursor-pointer transition-all duration-300 {{
      activeIndex !== i ? 'hover:bg-darkestPrimaryColorHover' : ''
    }}"
    [class.active-ts]="activeIndex === i"
    (click)="setActiveIndex(i)"
  >
    <p class="text-quaternary text-secondaryColor">{{ contact.username }}</p>
  </div>
</section>
