<div class="flex">
  <section
    class="h-screen bg-primaryColor border-r-2 border-tertiaryColor shadow-md shadow-darkestPrimaryColor flex flex-col items-center relative w-2/6 md:w-full"
  >
    <div
      *ngFor="let contact of allContacts; let i = index"
      class="w-full h-20 border-b-2 border-darkestPrimaryColor border-solid flex p-4 cursor-pointer transition-all duration-300 {{
        selectedContact !== contact ? 'hover:bg-darkestPrimaryColorHover' : ''
      }}"
      [class.active-ts]="selectedContact === contact"
      (click)="setActiveIndex(contact)"
    >
      <p class="text-quaternary text-secondaryColor">{{ contact.username }}</p>
    </div>
  </section>

  <section
    class="w-4/6 relative md:hidden flex justify-center items-center px-10"
    *ngIf="!selectedContact"
  >
    <h2 class="text-secondary text-tertiaryColor">
      Click on a contact or group to see messages
    </h2>
  </section>

  <section class="w-4/6 relative md:hidden" *ngIf="selectedContact">
    <div
      class="w-full h-16 bg-darkestPrimaryColor flex justify-between items-center px-4 border-l border-secondaryColor border-solid"
    >
      <h4 class="text-tertiary text-secondaryColor">
        {{ selectedContact.username }}
      </h4>
    </div>

    <div class="w-full"></div>

    <div
      class="absolute z-10 bottom-0 w-full border-l border-secondaryColor border-solid"
    >
      <textarea
        rows="4"
        name="message"
        class="bg-darkestPrimaryColor w-full p-4 text-quaternary text-white focus:outline-none resize-none"
        placeholder="Press enter to send your message"
        [(ngModel)]="typedMessage"
      ></textarea>
      <button
        type="button"
        (click)="fetchingTypedMessage()"
        class="absolute top-[-15px] right-5 w-12 h-12 bg-secondaryColor rounded-full"
      >
        <i class="fa fa-lg fa-paper-plane" aria-hidden="true"></i>
      </button>
    </div>
  </section>
</div>
