<div class="container-custom flex gap-2 justify-center items-center">
  <div
    class="bg-secondaryColor p-3 flex flex-col gap-3 text-quaternary max-w-xs border-solid border-2 border-white rounded-lg justify-center items-center"
    *ngFor="let contact of allContacts"
  >
    <i class="fa fa-3x fa-user-circle-o text-primaryColor"></i>
    <p class="text-blue-800 font-bold">
      <span class="text-primaryColor font-normal">Username : </span
      >{{ contact.username }}
    </p>
    <p class="text-blue-800 font-bold">
      <span class="text-primaryColor font-normal">Email : </span
      >{{ contact.email }}
    </p>
    <button
      class="bg-blue-600 p-4 text-gray-200 transition-all duration-200 shadow-md shadow-black hover:shadow-none"
      (click)="deleteContact(contact._id)"
    >
      Remove Contact
    </button>
  </div>
</div>
