<div class="container">
  <div class="search">
    <label for="search" class="text-secondary color-secondary"
      >Search by Username</label
    >
    <input
      name="search"
      placeholder="Search by typing the username of an user"
      (input)="fetchInp($event)"
    />
    <div class="onSearch" *ngIf="searchString">
      <div class="singleEnitity" *ngFor="let searchedEnitity of searchedData">
        <p class="text-quaternary color-secondary">
          User Name:
          <span class="color-danger">{{ searchedEnitity.username }}</span>
        </p>
        <p class="text-quaternary color-secondary">
          Email:
          <span class="color-danger">{{ searchedEnitity.email }}</span>
        </p>
      </div>
      <p
        class="text-secondary color-secondary"
        *ngIf="searchedData?.length === 0"
      >
        No Data To Show
      </p>
    </div>
  </div>

  <div class="chat-requests" *ngFor="let senderObj of senderObjs">
    <p class="text-quaternary">
      <span>{{ senderObj.username }}</span> sent you a chat request
    </p>
    <div class="icons">
      <i class="fa fa-check fa-lg" aria-hidden="true"></i>
      <i class="fa fa-times fa-lg" aria-hidden="true"></i>
    </div>
  </div>
</div>
