.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--secondaryColor);
  width: 30%;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  span {
    align-self: flex-end;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .btn {
    text-align: center;
  }

  @media (max-width: 1200px) {
    width: 50%;
  }
  @media (max-width: 768px) {
    width: 70%;
  }
  @media (max-width: 450px) {
    width: 100%;
  }
}
