<nav class="container-custom border-r border-solid border-secondaryColor">
  <ul class="top-items">
    <li
      *ngFor="let icon of icons.topIcons; let i = index"
      [class.active]="activeIndex === i"
      (click)="setActiveClass(i)"
      (click)="triggerAction(icon.name)"
      class="hover:!bg-secondaryColor hover:!text-primaryColor"
    >
      <i class="{{ icon.i }} fa-lg" aria-hidden="true"></i>
    </li>
    <li
      (click)="toggleLowerIcons(true)"
      class="mdm:!hidden hover:!bg-secondaryColor hover:!text-primaryColor"
    >
      <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
    </li>
  </ul>
  <ul class="bottom-items md:!hidden">
    <li
      *ngFor="let icon of icons.bottomIcons; let i = index"
      (click)="triggerAction(icon.name)"
      class="hover:!bg-secondaryColor hover:!text-primaryColor"
    >
      <i class="{{ icon.i }} fa-lg " aria-hidden="true"></i>
      <span *ngIf="icon.status" class="{{ icon.status }}"></span>
    </li>
  </ul>
</nav>

<ul
  class="w-screen h-screen flex flex-col justify-evenly items-center gap-5 fixed z-40 bg-primaryColor"
  *ngIf="toggleBtnActive"
>
  <i
    class="fa fa-times fa-3x text-secondaryColor cursor-pointer absolute top-5 right-5"
    (click)="toggleLowerIcons(false)"
  ></i>
  <li
    *ngFor="let icon of icons.bottomIcons; let i = index"
    (click)="triggerAction(icon.name)"
  >
    <i
      class="{{
        icon.i
      }} fa-3x text-secondaryColor hover:text-tertiaryColor transition-all duration-500 cursor-pointer"
      aria-hidden="true"
    ></i>
    <!-- <span *ngIf="icon.status" class="{{ icon.status }}"></span> -->
  </li>
</ul>
